h1 a {
    /*color:#FCA205;*/
    color:#006400;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
    background-image: url(/static/image/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    /*color:#8FBC8F;*/
    color:#FFFFFF;
}

p{
    font-size: 16px
}

.page-header {
    background-color: #9ACD32;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color:#006400;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color:#00FF00;
}

.date {
    float: right;
    color: #00FF00;
    font-size: 16px
}

.save {
    float: right;
    /*color:#006400;
    background-color: #9ACD32;*/
}

.btn-default {
    color: #006400;
    background-color: #9ACD32;
    border-color: #ccc;
}

.glyphicon-plus:before {
    color:#006400;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #00FF00;
}   

#id_text{
    color:#000000;
}

#id_title{
    color:#000000;
}
